.message {

    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;

}


.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;

}

.imageAndText img {
    width: 80px;
}

.text {
background-color: #0066CC;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 60px;
    padding: 10px;
}

.text::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 50%, rgba(79, 79, 79, 0.6) 0) no-repeat right bottom;
}


.name {

}

.messageText {

}

.time {
display: flex;
    align-items: center;


}