.friendMessage {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
}

.friendImageAndText {
display: flex;
    align-items: flex-end;

}

.friendImageAndText img {
width: 80px;
}

.friendText {
    background-color: #0066CC;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 60px;
    padding: 10px;

}


.friendText:after {

}

.friendName {

}

.friendMessageText {
}

.friendTime {

}
